/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para la foto en el encabezado */
header img {
    max-width:150px; /* Ancho máximo de la foto */
    max-height: 150px; /* Altura máxima de la foto */
    display: block;
    margin: 0 auto;
    border-radius: 50%; /* Opcional: agregar bordes redondeados para un aspecto más suave */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    width: 90%;
    margin: 0 auto;
}

.card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 768px) {
    main {
        width: 70%;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
